<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src='https://unpkg.com/react@0.13.3/dist/JSXTransformer.js'></script>
<script src="/asinapp.js" type='text/jsx'></script>
<div id="asin_app"></div>